{% extends 'base.html' %}
{%block content%}
{{ block.super}}

<div class="post">
  <div class="container" style="margin-top: 100px;">
    {%for new_post in posts %}
    <div>
      <div class="row">

        <div class="col-md-8  m-auto card">
          <a href="profile">
            <span><b>{{new_post.author}}</b></span>
          </a>



          <div class="card mb-3">
            <img src="{{new_post.image}}" class="img-responsive card-img-top" alt="image1" >
          </div>

          <div class="card-body">

            <h3 style="text-align: center;color: blue;">{{new_post.name}}</h3>
            <p style="text-align: center;font-style: italic;"> <b>{{new_post.author}} </b>{{new_post.caption}}</p>
          </div>

          

          <div class="card-footer">
         <a href=""style="color: black;padding-left: 200px;"> <span class="info"><i class="far fa-heart fa-1x" ></i></span>  </a>
       <a href=""style="color: black;padding-left: 200px;"><i class="far fa-comment"></i></a>  

            <a href="" style="color: black;padding-left: 200px;"><i class="far fa-paper-plane"></i></a>

          </div>
        </div>
      </div>
    </div><br><br>
  </div>
</div>


  {% endfor %}


<style>
  .post{
    text-align: center;
  }
</style>

{%endblock%}